<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd http://www.springframework.org/schema/task
 http://www.springframework.org/schema/task/spring-task-3.2.xsd" >

    <!-- 配置注解驱动 -->
    <mvc:annotation-driven />
    <!-- 视图解析器 -->
    <bean
            class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/" />
        <property name="suffix" value=".jsp" />
    </bean>
    <!-- 配置包扫描器，扫描@Controller注解的类 -->
    <context:component-scan base-package="com.PocketSchedulerServer.controller"/>
    <!-- 配置资源映射 -->
    <!--<mvc:resources location="/WEB-INF/css/" mapping="/css/**"/>-->
    <!--<mvc:resources location="/WEB-INF/js/" mapping="/js/**"/>-->
    <!--<mvc:resources location="/WEB-INF/upload/img/user/" mapping="/img/**"/>-->

    <!--<mvc:interceptors>-->
        <!--<mvc:interceptor>-->
            <!--<mvc:mapping path="/**"/>-->
            <!--<mvc:exclude-mapping path="/"></mvc:exclude-mapping>-->
            <!--<mvc:exclude-mapping path="/register/**"></mvc:exclude-mapping>-->
            <!--<mvc:exclude-mapping path="/login"></mvc:exclude-mapping>-->
            <!--<bean id="loginInterceptor" class="com.foodvotebox.interceptor.LoginInterceptor"></bean>-->
        <!--</mvc:interceptor>-->
    <!--</mvc:interceptors>-->

    <!--<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">-->
        <!--<property name="defaultEncoding" value="utf-8"></property>-->
        <!--<property name="maxUploadSize" value="2048000"></property>-->
        <!--<property name="uploadTempDir" value="WEB-INF/upload/img/user"></property>-->
    <!--</bean>-->

    <!--<task:annotation-driven/>-->
    <!--<context:component-scan base-package="com.foodvotebox.timer"></context:component-scan>-->

</beans>